{% extends 'core/base.html' %}

{% block title %}Carrito de Compras{% endblock %}

{% block content %}
  <h1 class="text-3xl font-semibold mb-6">Carrito de Compras</h1>

  {% if cart_items %}
    <div class="bg-teal-700 p-6 rounded-lg shadow-lg">
      <table class="w-full text-white border">
        <thead>
          <tr>
            <th class="border">Nombre</th>
            <th class="border">Precio unitario</th>
            <th class="border">Cantidad</th>
            <th class="border"></th>
          </tr>
        </thead>
        <tbody>
          {% for cart_item in cart_items %}
            <tr>
              <td class="border">{{ cart_item.item.name }}</td>
              <td class="border">{{ cart_item.item.price }}</td>
              <td class="border">{{ cart_item.quantity }}</td>
              <td class="border">
                <a href="{% url 'cart:remove_from_cart' cart_item.item.id %}" class="text-red-500 hover:text-red-700 transition duration-300">Eliminar</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <td colspan="3" class="border font-semibold">Total:</td>
            <td class="border font-semibold">{{ total }}</td>
            <td class="border"></td>
          </tr>
        </tfoot>
      </table>
    </div>

    <div class="mt-6 flex justify-between items-center">
      <a href="{% url 'item:items' %}" class="inline-block px-6 py-3 text-lg font-semibold bg-blue-500 text-white rounded-xl hover:bg-blue-700 active:bg-violet-700 focus:outline-none focus:ring focus:ring-violet-300 transition duration-300">Seguir Comprando</a>
      <a href="{% url 'cart:process_payment' %}" class="inline-block px-6 py-3 text-lg font-semibold bg-green-500 text-white rounded-xl hover:bg-green-700 active:bg-violet-700 focus:outline-none focus:ring focus:ring-violet-300 transition duration-300">Realizar Pago</a>
    </div>
  {% else %}
    <p class="text-xl">Tu carrito está vacío. ¡Empieza a agregar elementos!</p>
  {% endif %}
{% endblock %}
