{% extends 'core/base.html' %}

{% block title %}Sign up{% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://unpkg.com/feather-icons@4.28.0/dist/feather.min.css">

    <script src="https://unpkg.com/feather-icons@4.28.0/dist/feather.min.js"></script>

    <style>

    </style>
</head>

<body>

    <div class="w-1/2 my-6 mx-auto p-6 bg-gray-100 rounded-xl">
        <h1 class="mb-6 text-3xl">Registrarse</h1>

        <form method="post" action=".">
            {% csrf_token %}

            <div class="mb-3">
                <label class="inline-block mb-2">Nombre de usuario</label><br>
                <input type="text" name="{{ form.username.name }}" id="{{ form.username.id_for_label }}"
                    placeholder="Tu Nombre de Usuario" class="w-full p-2 rounded-md" />
            </div>


            <div class="mb-3">
                <label class="inline-block mb-2">Email</label><br>
                <input type="text" name="{{ form.email.name }}" id="{{ form.email.id_for_label }}"
                    placeholder="Tu email" class="w-full p-2 rounded-md" />
            </div>

            <!-- <div class="mb-3 relative">
                <label class="inline-block mb-2">Contraseña</label><br>
                <div class="relative">
                    <input type="password" name="{{ form.password.name }}" id="{{ form.password.id_for_label }}"
                        placeholder="Tu contraseña" class="w-full p-2 rounded-md" />
                    <span onclick="togglePasswordVisibility()"
                        class="absolute inset-y-0 right-0 pr-2 flex items-center cursor-pointer text-gray-500">
                        <i data-feather="eye"></i>
                    </span>
                </div>
            </div> -->

            <div class="mb-3">
                <label class="inline-block mb-2">Contraseña</label><br>
                {{ form.password1 }}
            </div>
    
            <div class="mb-3">
                <label class="inline-block mb-2">Repetir contraseña</label><br>
                {{ form.password2 }}
            </div>
    
            {% if form.errors or form.non_field_errors %}
            <div class="mb-3 p-6 bg-red-100 rounded-xl">
                {% for field in form %}
                {{ field.errors }}
                {% endfor %}

                {{ form.non_field_errors }}
            </div>
            {% endif %}

            <button class="py-4 px-8 text-lg bg-teal-500 hover:bg-teal-700 rounded-xl text-white">Aceptar</button>
        </form>
    </div>

    <script>
        // function togglePasswordVisibility() {
        //     const passwordInput = document.querySelector('#id_password'); // Asegúrate de que el ID coincida con el generado por Django
        //     const eyeIcon = document.querySelector('[data-feather="eye"]');
        //     const isPasswordVisible = passwordInput.type === 'text';

        //     passwordInput.type = isPasswordVisible ? 'password' : 'text';
        //     eyeIcon.setAttribute('data-feather', isPasswordVisible ? 'eye' : 'eye-off');
        //     feather.replace(); // Actualiza los íconos de Feather después de cambiar dinámicamente el atributo 'data-feather'
        // }

        // feather.replace(); // Inicializa los íconos de Feather
    </script>

</body>

</html>


{% endblock %}